#content .fv-player-video-checker, .fv-player-video-checker { pointer-events: none; position: absolute; top: 0; left: 0; z-index: 20; }
#content .flowplayer.is-audio .fv-player-video-checker, .flowplayer.is-audio  .fv-player-video-checker { color: unset !important; top: -40px; }
#content .flowplayer .fv-player-video-checker small, .flowplayer .fv-player-video-checker small { pointer-events: auto; position:relative;left:15px;top:10px;-webkit-transition:all .15s 0s;-moz-transition:all .15s 0s;transition:all .15s 0s }
#content .flowplayer.is-mouseover.is-ready:not(.is-audio) .fv-player-video-checker small,
.flowplayer.is-mouseover.is-ready:not(.is-audio) .fv-player-video-checker small,
#content .flowplayer.is-ready.is-paused:not(.is-audio) .fv-player-video-checker small,
.flowplayer.is-ready.is-paused:not(.is-audio) .fv-player-video-checker small,
.flowplayer.is-error:not(.is-audio) .fv-player-video-checker small { top: 3em }
#content .flowplayer .fv-player-video-checker.is-open small,
.flowplayer .fv-player-video-checker.is-open small,
#content .flowplayer.has-video-checker .fv-player-video-checker.is-open small,
.flowplayer.has-video-checker .fv-player-video-checker.is-open small { top:0 !important;left:0;-webkit-transition:none;-moz-transition:none;transition:none; color: black }
#content .fv-player-video-checker.is-open, .fv-player-video-checker.is-open { color: black !important; background-color: #FFFFE0; margin: 0; padding: 0 12px; pointer-events: auto; border-radius: 0; border: none; line-height: 15px; z-index: 100; width: 100%; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif }
#content .fv-player-video-checker.is-open strong, .fv-player-video-checker.is-open strong { font-weight: bold; }
#content .fv-player-video-checker.is-open p, .fv-player-video-checker.is-open p { font-family: sans-serif; margin: 0.5em 0; padding: 2px; color: #5b5b5b; word-break: break-word; }
.is-open p tt, .fv-player-video-checker.is-open blockquote { color: #000; font-size: 12px; }
.is-open p tt.bluelink { color: #4189A7; }

#content .fv-player-video-checker.is-open a { color: #800 !important; }

#content .fv-player-video-checker.is-open blockquote, #content .fv-player-video-checker.is-open pre, .fv-player-video-checker.is-open blockquote, .fv-player-video-checker.is-open pre { padding: 5px; margin: 0; }
.is-open textarea.wpfp_message_field { border: 1px solid #dedede; color: #8f8f8f; font-size: 12px; padding: 1%; }
.is-open input[type="button"] { border: 1px solid #960c0c; color: #fff; border-radius: 4px; padding: 5px 8px; box-shadow: inset 0 0 1px #de3232; background: #ad1010; font-size: 12px; line-height: 18px; float: right; margin-bottom: 8px; }
#content .fv-player-video-checker.is-open a.techinfo, .fv-player-video-checker.is-open a.techinfo { background-image:url(img/techinfo.png); color: gray !important; background-repeat: no-repeat; background-position: left center; display: inline-block; min-height: 18px; padding-left: 24px; margin-top: 5px; }
#content .fv-player-video-checker.is-open.fv-wp-flowplayer-error, .fv-player-video-checker.is-open.fv-wp-flowplayer-error { background-color: #FFEBE8; border-color: #CC0000; }
#content .fv-player-video-checker.is-open.is-open, .fv-player-video-checker.is-open.is-open { background-color: #EDEDED; border-color: #c0c0c0; box-shadow: 0 0 4px #ccc; }
.fv-player-video-checker .fv-player-video-checker-head { display: none; }
.is-open.is-open .fv-player-video-checker-head { display: block; text-align: center; font-size: 14px; padding: 10px; line-height: 1; margin: 0 -12px 1em; background-color: #ccc; text-transform: uppercase; }
.is-open.is-open .fv-player-video-checker-head span:after { position: absolute; top: 5px; right: 5px; content: '\f335'; font-family: 'dashicons'; line-height: 1; vertical-align: top; font-size: 24px; color: #666; cursor: pointer }

.flowplayer.fp-is-embed .fv-player-video-checker.is-open {
  height: 100%;
  overflow-x:hidden;
  overflow-y:scroll;
}

.fv-player-video-checker .vid-ok { color: green; }
.fv-player-video-checker .vid-warning { color: orange; }
.fv-player-video-checker .vid-issues { color: red; }


.fv-player-video-checker.is-open .vid-ok { color: #114b00; }
.fv-player-video-checker.is-open .vid-warning { color: #ac641e; }
.fv-player-video-checker.is-open .vid-issues { color: #670004; }

.fv-wp-fp-hidden { display: none; }
.fv-wp-flowplayer-notice-parsed .row { text-align: left; border-bottom: 1px solid lightgray; border-right: 1px solid lightgray; border-left: 1px solid lightgray; padding-left: 5px; font-size: 12px; clear: both; }
.fv-wp-flowplayer-notice-parsed .close { height: 0px; }
.fv-wp-flowplayer-notice-parsed .value { border-left: 1px solid lightgray; display: inline-block; float: right; padding-left: 5px; width: 270px; /*height: 21px; overflow: hidden;*/ }
.fv-wp-flowplayer-notice-parsed.indent { margin-left: 10px; }
.fv-wp-flowplayer-notice-parsed.level-1 { background: #f8f8f8; }
.fv-wp-flowplayer-notice-parsed.level-2 { background: #f0f0f0; }
.fv-wp-flowplayer-notice-parsed.level-3 { background: #e8e8e8; }
.fv-wp-flowplayer-notice-parsed.level-4 { background: #e0e0e0; }
.fv-wp-flowplayer-notice-parsed.level-5 { background: #d8d8d8; }
.fv-wp-flowplayer-notice-parsed.level-6 { background: #d0d0d0; }
.fv-wp-flowplayer-notice-parsed.level-7 { background: #c8c8c8; }
.mail-content-details { height: 200px; overflow: auto; width: 100%; }
.fv-player-interface-form-group td { width:50%; }

.flowplayer-wrapper {width: 70%;display: inline-block;float: right;}

#skin-Skin-settings tr,
#fv_flowplayer_skin_sticky .thirds tr {
  display: flex;
  column-gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

#skin-Skin-settings td,
#fv_flowplayer_skin_sticky .thirds td {
  width: max-content;
}

#skin-Skin-settings td p,
#fv_flowplayer_skin_sticky .thirds p {
  margin: 0;
}

#skin-tab-controls .form-table2 {
  max-width: max-content;
  margin-inline: auto;
}

:is(#skin-tab-skin, #fv_flowplayer_skin_playlist, #fv_flowplayer_skin_subtitles, #fv_flowplayer_skin_sticky) .form-table2 {
  max-width: 60ch;
  margin-inline: auto;
}

:is(#skin-tab-skin, #fv_flowplayer_skin_playlist, #fv_flowplayer_skin_subtitles, #fv_flowplayer_skin_sticky) td:first-child:nth-last-child(2) {
  width: 26%;
}

:is(#skin-tab-skin, #fv_flowplayer_skin_playlist, #fv_flowplayer_skin_subtitles, #fv_flowplayer_skin_sticky) td:first-child + td:last-child {
  width: 74%;
}

/* TODO: Remove inline width style */
:is(.skin-tab-content, #fv_flowplayer_skin_playlist, #fv_flowplayer_skin_subtitles, #fv_flowplayer_skin_sticky) .chosen-container-single-nosearch {
  width: 95% !important;
}

/* TODO: Merge with license.css */
#fv_flowplayer_skin_sticky #sticky_width {
  width: 95%;
}
#wpfp_options :is(#fv_flowplayer_skin_playlist, #fv_flowplayer_skin_subtitles) .form-table2 {
  width: 29%;
}

#fv_flowplayer_skin_subtitles .inside {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

#fv_flowplayer_skin_sticky .inside {
  width: 29%;
  display: flex;
  flex-wrap: wrap;
}

#wpfp_options #fv_flowplayer_skin_sticky .button-primary {
  float: none;
}

#fv_flowplayer_skin_subtitles #fp-preview-wrapper {
  order: 1;
  position: static;
  height: auto;
  flex: 0 0 70%;
}

#fv_flowplayer_skin_subtitles #fp-preview-wrapper .flowplayer {
  display: flex !important;
  align-items: flex-end;
  justify-content: center;
}

#fv_flowplayer_skin_subtitles #fp-preview-wrapper .fp-captions {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
}

/* TODO: remove .columns-2 from markup */
#wpbody-content #dashboard-widgets.columns-2 .postbox-container {
  width: 100%;
}

#fv-player-popups-settings tr.data:nth-child(even) { background-color: #f6f6f6; }
.fv-player-popup-remove { visibility: hidden; }
td:hover > .fv-player-popup-remove { visibility: visible; }
.fv-player-list-remove { visibility: hidden; }
td:hover > .fv-player-list-remove { visibility: visible; }
#fv_flowplayer_popups table { -webkit-border-collapse:collapse;-moz-border-collapse:collapse;border-collapse:collapse }
table.fv-player-popup-formats td:first-child { width: 72px }
#fv_flowplayer_popups .inside label {
  display: initial;
  text-align: inherit;
}
#fv-player-popups-settings > tbody > tr > td:nth-child( 1 ) {
  text-align: center;
  max-width: 7px;
}
#fv-player-email_lists-settings tr td {
  vertical-align: top;
}
#fv-player-email_lists-settings >tbody > tr > td {
  padding: 2px;
}
#fv-player-email_lists-settings > tbody > tr:nth-child(even) {
  background-color: #f6f6f6;
}
#fv-player-email_lists-settings,
#fv-player-email_lists-settings table {
  -webkit-border-collapse:  collapse;
  -moz-border-collapse:     collapse;
  border-collapse:          collapse;
}
#fv-player-email_lists-settings table tr td label {
  line-height: 1.8;
}
#fv-player-email_lists-settings .id {
  padding: 5px;
}
#fv-player-email_lists-settings table tr td,
.fv-metabox-holder {
  padding-top:0!important;
}
#fv-player-email_lists-settings select {
  width: 95%;
}

.fv-nav-tab-wrapper {
  border-bottom: 0px!important;
  margin-left: 1px!important;
}

.fv-metabox-holder .postbox.hide-if-js {
  display:block;
}

.fv-metabox-holder .postbox:first-child > .hndle, .fv-metabox-holder .postbox:first-child > .handlediv, .fv-metabox-holder .postbox:first-child > .postbox-header {
  display:none;
}

#fv_flowplayer_admin_tabs .nav-tab-active,
#fv-player-shortcode-editor-right .nav-tab-active {
  background-color: #ffffff;
  border-bottom: #ffffff;
}

.wp-admin .user-videos .fv-player-custom-video {
  margin-bottom: 10px;
}
.wp-admin .user-videos .flowplayer, .postbox-container .fv-player-custom-video .flowplayer, .usersultra-dahsboard-center .fv-player-custom-video .flowplayer {
  max-width: 432px !important;
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
}
.wp-admin .user-videos .fv-player-custom-video >  iframe, .postbox-container .fv-player-custom-video >  iframe, .usersultra-dahsboard-center .fv-player-custom-video > iframe {
  display: block;
  overflow: hidden;
  width: 432px;
  height: 243px;
}

#fv_flowplayer_interface_options p.description {line-height:1.5;margin-bottom:0;margin-top:0}

#fp-preview-wrapper{height:360px;width:420px;position:absolute;top:0px;right:50px}
#fp-preview-wrapper>.flowplayer{position:relative; height:160px}
#fp-preview-wrapper .fp-subtitle{height:50px}

#dashboard-widgets .flowplayer-wrapper h3, #dashboard-widgets .flowplayer-wrapper h4 {color:inherit;margin:0 auto;padding:0;font-weight:700;font-size:inherit}

#wpfp_options .minicolors-theme-default.minicolors {display:block}
#wpfp_options .minicolors-input {padding-left:5px; height:auto}
#wpfp_options .minicolors-input-swatch {display:none}
#wpfp_options input[data-opacity] { background-image: url(checkered.png) }

.fv-player-editor-wrapper { float: left; width: 100%}
.wp-block .fv-player-editor-wrapper { float: none; }
.fv-player-editor-player-loading { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: white; opacity:.7}
.fv-player-editor-player-loading .spinner { position: absolute; left: 0; right: 0; margin: auto; top: 0; bottom: 0 }

/* Disable WordPress 5.5 button to change box order */
#wpfp_options .handle-order-higher, #wpfp_options .handle-order-lower { display: none }
/* Disable box dragging */
#wpfp_options .ui-sortable-handle { cursor: pointer; }

#fv-player-system-info-textarea { font-family: monospace; width: 100%; }

.fv-player-admin-tooltip {
  display: none;
}

.show-info, .show-info:hover, .show-info:active, .show-info:focus { color: #444; box-shadow: none; text-decoration: none; }
.fv-player-admin-tooltip {
  position: absolute;
  background: white;
  padding: .5em;
  border: 1px solid gray;
}

#fv-player-shortcode-editor .fv-player-tab-cues div.fv-cues-infobox {
  text-align: center;
  padding: 15px 0;
  background-color: #fff;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.settings-section-link {
  display: inline-block;
  margin: 22px 0 0 10px;
  text-decoration: none;
}

/*
Brizy editor support
*/
.brz-ed .brz-blocked .flowplayer, .brz-ed .brz-blocked .fp-playlist-external {
  pointer-events: all;
}

#fv-player-settings-save-notice {
  position: fixed;
  z-index: 99;
  top: 60px;
  right: 5px;
  background: #fff;
  border: 1px solid #c3c4c7;
  border-left-width: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  margin: 5px 15px 2px;
  padding: 1px 12px;
  border-left-color: #00a32a;
  display: none;
}
#fv-player-settings-save-notice.is-error {
  border-left-color: #d63638;
}

@media only screen and (max-width: 1024px) {
  .flowplayer-wrapper { width: 100%; float: none;}

  .form-table2.flowplayer-settings,
  #fv_flowplayer_skin_sticky .form-table2 {
    width: 100% !important;
  }

  #fv_flowplayer_skin_subtitles #fp-preview-wrapper {
    flex-grow: 1;
  }

  #fv_flowplayer_skin_sticky .inside {
    width: 100%;
  }
}
