/* Plugin Admin CSS Styles */

#fv_flowplayer_ad {
	width: 690px;
	height: 238px;
	display: block;
	margin: 20px 10px;
	padding: 15px 10px 0 20px;
	border: 1px solid #ccc;
	background: url("../images/fabric-plaid-bg.png");
	text-rendering: optimizelegibility;
	color: #353535;
}
#fv_flowplayer_addon_pro {
	float: left;
	display: block;
	margin: 10px;
	padding: 0 10px;
	border: 1px solid #ccc;
	background: url("../images/fabric-plaid-bg.png");
	text-rendering: optimizelegibility;
	color: #353535;
}
.text-part {
	float: left;
	width: 310px;
	overflow: hidden;
	display: inline-block;
}
.graphic-part {
	float: right;
	width: 320px;
}
#fv_flowplayer_ad h2 {
	text-shadow: 1px 1px 1px #fff;
	padding: 9px 0;
}
/* paragraph */
#fv_flowplayer_ad p {
	font-size: 14px;
}
a.red-button {
	background: url("../images/red-button-large.png") no-repeat center top;
	height: 40px;
	display: block;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
	line-height: 1.3;
	padding: 10px 0;
	width: 260px;
	text-align: center;
}
.red-button:hover {
	color: #fff;
}
.red-text {
	color: #9d1a28;
	font-size: 20px;
}
#fv_flowplayer_ad ul {
	margin: 15px 0;
	font-size: 16px;
}
#fv_flowplayer_ad ul li {
/*	background: url("../images/list-bullet.png") no-repeat 0 center;
	padding-left: 30px; */
	margin-bottom: 2px;
}



#wpbody-content #wpfp_options #postbox-container-1 { width: 100% }
#wpfp_options .postbox h3 { cursor: default; }

#wpfp_options table { width: 100% }
#wpfp_options table td.first { width: 250px }
#wpfp_options #fv_flowplayer_integrations table td.first { width: 350px }
#wpfp_options table.flowplayer-settings { width: 46%; }

div.clear { clear: both }  
div.column { float: left; width: 49% }  
div.green { background-color: #e0ffe0; border-color: #88AA88; } 
.amazon-s3-first .fv_fp_amazon_remove { display: none; }
.form-table2 td p { line-height: 20px; }
.meta-box-sortables input[type=text] { width: 100%; }
#wpfp_options .meta-box-sortables input.button-primary, #wpfp_options .meta-box-sortables input.button { margin-top: 16px }
#wpfp_options input.button.no-margin { margin-top: 0px }
.meta-box-sortables input.small { width: 80px }
td.second-column { margin-left: 20px }

span.new { color: #e00; font-weight: bold }

#fv_flowplayer_amazon_options label { float: right }

#fv_flowplayer_admin_buttons a { color: gray; display: inline-block; text-decoration: none; }