/* Plugin Admin CSS Styles */

#fv_flowplayer_ad {
	width: 690px;
	height: 238px;
	display: block;
	margin: 20px 10px;
	padding: 15px 10px 0 20px;
	border: 1px solid #ccc;
	background: url("../images/fabric-plaid-bg.png");
	text-rendering: optimizelegibility;
	color: #353535;
}
#fv_flowplayer_addon_pro {
	float: left;
	display: block;
	margin: 10px;
	padding: 0 10px;
	border: 1px solid #ccc;
	background: url("../images/fabric-plaid-bg.png");
	text-rendering: optimizelegibility;
	color: #353535;
}
.text-part {
	float: left;
	width: 310px;
	overflow: hidden;
	display: inline-block;
}
.graphic-part {
	float: right;
	width: 320px;
}
#fv_flowplayer_ad h2 {
	text-shadow: 1px 1px 1px #fff;
	padding: 0 0 9px 0;
}
/* paragraph */
#fv_flowplayer_ad p {
	font-size: 14px;
}
a.red-button {
	background: url("../images/red-button-large.png") no-repeat center top;
	height: 40px;
	display: block;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
	line-height: 1.3;
	padding: 10px 0;
	width: 260px;
	text-align: center;
}
.red-button:hover {
	color: #fff;
}
.red-text {
	color: #9d1a28;
	font-size: 20px;
}
#fv_flowplayer_ad ul {
	margin: 12px 0 15px;
	font-size: 16px;
}
#fv_flowplayer_ad ul li {
/*	background: url("../images/list-bullet.png") no-repeat 0 center;
	padding-left: 30px; */
	margin-bottom: 2px;
}



#wpbody-content #wpfp_options #postbox-container-1 { width: 100% }
#wpfp_options .postbox h3 { cursor: default; }

#wpfp_options table { width: 100% }
#wpfp_options table td.first { width: 250px }
#skin-tab-logo table td.first { width: 90px }
#skin-tab-controls table td.first { width: 105px }
#wpfp_options #fv_flowplayer_integrations table tr > td:first-child { padding-top: 4px; vertical-align: top; }
#fv_flowplayer_admin_skin_tabs, .skin-tab-content { width: 29%; }
#fv_flowplayer_admin_skin_tabs {
  margin-bottom: 1em;
  text-align: center
}
#fv_flowplayer_admin_skin_tabs h2 {
  display: inline-block
}
#fv_flowplayer_admin_skin_tabs h2 a {
  background-color: #fff;
  border-bottom: 1px solid #c3c4c7;
  font-size: .5em;
  margin: -1px;
  padding: 2px 10px;
  text-decoration: none;
  text-transform: uppercase;
}
#fv_flowplayer_admin_skin_tabs h2 a:focus {
  box-shadow: none;
  outline: none;
}
#fv_flowplayer_admin_skin_tabs h2 a.nav-tab-active {
  background-color: #888;
  color: white;
}

div.clear { clear: both }
div.column { float: left; width: 49% }
div.green { background-color: #e0ffe0; border-color: #88AA88; }
.amazon-s3-1 .fv_fp_amazon_remove { display: none; }
.form-table2 td p { line-height: 20px; }
.meta-box-sortables input[type=text] { width: 100%; }
#wpfp_options .meta-box-sortables input.button-primary, #wpfp_options .meta-box-sortables input.button, #wpfp_options .meta-box-sortables a.button { margin-top: 16px }
#wpfp_options input.button.no-margin { margin-top: 0px }
.meta-box-sortables input.small, .meta-box-sortables select.small { width: 27%; }
.meta-box-sortables input.medium { width: 50%; }
.meta-box-sortables input.large { width: 71% !important; }
td.second-column { margin-left: 20px }

span.new { color: #e00; font-weight: bold }

#fv_flowplayer_amazon_options label { float: right }

form#fv_flowplayer_admin_buttons { margin: 13px 0; }
#fv_flowplayer_admin_buttons a { color: gray; display: inline-block; text-decoration: none; }

.wp-core-ui input.fv-license-inactive {
  background: #f88;
}
.wp-core-ui input.fv-license-active {
  background: #8f8;
}
.wp-core-ui input.fv-license-yellow {
  background: #ff8;
}
.wp-core-ui input.fv-license-inactive:hover, .wp-core-ui input.fv-license-inactive:active {
  background: #f66;
}
.wp-core-ui input.fv-license-active:hover, .wp-core-ui input.fv-license-active:active {
  background: #6f6;
}
.wp-core-ui input.fv-license-yellow:hover, .wp-core-ui input.fv-license-yellow:active {
  background: #ff6;
}

#flowplayer-wrapper label,
#fv_flowplayer_skin_playlist label,
#fv_flowplayer_skin_subtitles label {
  display: block;
  text-align: right;
}
td.aligntop, td.aligntop-input { vertical-align:top; }
td.aligntop > label { margin-top: 4px; }
td.aligntop-input > label { margin-top: 6px; }

#flowplayer-wrapper input[type=text], #flowplayer-wrapper select,
#fv_flowplayer_skin_playlist input[type=text], #fv_flowplayer_skin_playlist select,
#fv_flowplayer_skin_subtitles input[type=text], #fv_flowplayer_skin_subtitles select {
  width: 95%;
}

#wpfp_options .flowplayer-wrapper + table,
#fp-preview-wrapper + table {
  width: 30%;
}


#fv_flowplayer_skin_sticky input[type=text], #fv_flowplayer_skin_sticky select {
	width: 10em;
}

table.thirds {
	max-width: 750px;
}
table.thirds td {
	width: 33%;
}

#wpfp_options .button-primary {
  float: right;
}

#wpfp_options #flowplayer-wrapper .button-primary,
#wpfp_options #fv_flowplayer_skin_playlist .button-primary,
#wpfp_options #fv_flowplayer_skin_subtitles .button-primary {
  float: none;
}

#wpfp_options .inside label {
  display: block;
  text-align: right;
}

#wpfp_options .inside input + label {
	display: inline-block;
}

#fv-player-popups-settings th {
	text-align: right;
}

#fv_flowplayer_ads .inside label, #fv_player_pro_video_ads .inside label, #wpfp_options .inside .description label {
  display: initial;
  text-align: inherit;
}

#fv_flowplayer_default_options input#width, #fv_flowplayer_default_options input#height {
  width: 54px;
}

.description .more {
  display: none;
}

#dashboard-widgets #fv_flowplayer_usage h3 {
	font-size: 1.3em;
}
#fv_flowplayer_usage .usage-section {
	width: 48%;
	float: left;
	margin-bottom: 2em;
	margin-right: 2%;
	list-style-type: none;
	display: inline-block;
}
#fv_flowplayer_usage .usage-section:nth-child(2n+1) {
	clear: both;
}

@media only screen and (max-width: 1680px) {
  .skin-tab-content input.small,
  .skin-tab-content select.small,
  .skin-tab-content input.medium,
  .skin-tab-content input.large { width: 100% !important; }
}

@media only screen and (max-width: 1024px) {
  #fv_flowplayer_admin_skin_tabs,
  .skin-tab-content {
    width: 100%;
  }
}
