.fp-playlist-external h4 { display: block }

.flowplayer .fv-fp-playlist-menu .screen-reader-text { clip: rect(1px, 1px, 1px, 1px); height: 1px; overflow: hidden; position: absolute !important; width: 1px; }
.flowplayer .fp-menu.fv-fp-playlist-menu { width: 4em; }
.flowplayer .fp-menu.fv-fp-playlist-menu .fp-selected::before { content: '' }

#fvp-playlist-play {
	display: block;
	text-align: center;
}
.fv-fp-playlist .fvp-icon,
.fv-fp-playlist #fvp-playlist-play,
.flowplayer .fp-menu.fv-fp-playlist-menu .fp-selected::before {
	display: none;
}
.fv-fp-playlist.mode-repeat-playlist .fvp-icon.fvp-replay-list,
.fv-fp-playlist.mode-shuffle-playlist .fvp-icon.fvp-shuffle,
.fv-fp-playlist.mode-repeat-track .fvp-icon.fvp-replay-track {
	display: block;
}
.fv-fp-playlist.mode-normal #fvp-playlist-play {
	display: inline-block;
}
.fv-fp-playlist.mode-normal #fvp-playlist-play {
	display: inline-block;
}
.fv-fp-playlist.mode-normal .fvp-icon.fvp-playlist-play {
	margin-top: 4px;
}

.flowplayer .fp-controls .fv-fp-prevbtn,
.flowplayer .fp-controls .fv-fp-nextbtn {
	margin: 0 .2em 0 .4em;
	display: flex;
	vertical-align: middle;
}
.flowplayer .fp-controls .fv-fp-nextbtn {
	margin: 0 .4em 0 .2em;
}
.flowplayer.is-audio .fp-controls .fp-playbtn {
	margin: 0 .2em 0 .4em;
}
.fp-prevbtn:after, .fv-fp-prevbtn:after, .fp-nextbtn:before, .fv-fp-nextbtn:before {
	content: "\e007"; line-height: 1; vertical-align:middle;
}
.fv-fp-prevbtn:before {
	content: "";
	border-left: 2px solid #fff;
	font-size: 1.2em;
}
.fp-outlined .fv-fp-prevbtn:before {
	border-left: 1px solid #fff;
}
.fv-fp-prevbtn:after {
	content: "\e007";
	font-size: 1.2em;
	display: inline-block;
	line-height: 1;
	-webkit-transform: scale(-1.00,1.00);
	transform: scale(-1.00,1.00);
}

.fv-fp-nextbtn:before {
	font-size: 1.2em;
	border-right: 2px solid #fff;
}
.fp-outlined .fv-fp-nextbtn:before {
	border-right: 1px solid #fff;
}

.flowplayer.is-tiny .fp-controls .fv-fp-prevbtn, .flowplayer.is-tiny .fp-controls .fv-fp-nextbtn {
	display: none;
}

.freedomplayer.has-playlist-prevnext.is-mouseover.is-ready .fp-forward,
.freedomplayer.has-playlist-prevnext.is-mouseover.is-ready .fp-rewind {
	display: none;
}

/* Tabs */
.fv_flowplayer_tabs { margin: 0 auto; }
.fv_flowplayer_tabs ul.ui-tabs,.fv_flowplayer_tabs ul.ui-tabs-nav{margin:0 !important;font-size:13px;font-family:Arial, Helvetica, sans-serif;font-weight:bold;line-height:24px !important}
.fv_flowplayer_tabs .ui-tabs { padding: 0; zoom: 1; }
.fv_flowplayer_tabs .ui-tabs .ui-tabs-nav { list-style: none; position: relative; padding: 1px 0; }
.fv_flowplayer_tabs .ui-tabs .ui-tabs-nav li { position: relative; float: left; border-width: 0 !important; margin: 0 4px 2px 0 !important; padding: 0 !important; list-style:none !important;line-height:24px !important;}
.fv_flowplayer_tabs .ui-tabs .ui-tabs-nav li a { float: left; text-decoration: none; padding: 4px 10px !important; color:#5E5E5E !important;line-height:24px !important;background-color:#EFEFEF;}
.fv_flowplayer_tabs .ui-tabs .ui-tabs-nav li.ui-state-active a, .fv_flowplayer_tabs .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .fv_flowplayer_tabs .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; color:#FFF !important; background-color:#5E5E5E;}
.fv_flowplayer_tabs .ui-tabs .ui-tabs-nav li a, .fv_flowplayer_tabs .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-state-active a { cursor: pointer; outline: none; border: none; }
.fv_flowplayer_tabs .ui-tabs .ui-tabs-panel { padding: 4px 0; display: block; border-width: 0; background: none; }
.fv_flowplayer_tabs .ui-tabs .ui-tabs-hide { position: absolute; left: -10000px; }
.fv_flowplayer_tabs .ui-tabs .ui-tabs-nav li.ui-corner-top, .fv_flowplayer_tabs .ui-tabs-horizontal-top .wpts_ext{padding-bottom:4px!important;height:32px; }
.fv_flowplayer_tabs .fv_flowplayer_tabs_cl{display:block;visibility:hidden;clear:left;height:0;content:".";}
.fv_flowplayer_tabs .fv_flowplayer_tabs_cr{display:block;visibility:hidden;clear:right;height:0;content:".";}
.fv_flowplayer_tabs .ui-tabs .ui-tabs-nav li i.dur {display: none; }

/*  Prev/next playlist  */
.freedomplayer.fp-default-playlist .fp-prev, .freedomplayer.fp-default-playlist .fp-next {
	font-size: 240%;
	color: #fff;
	padding: 4px;
	font-weight: bold;
	text-shadow: 0 0 1px #000;
	cursor: pointer;
	z-index: 12; /* make clickable */
	opacity: 0;
}
.freedomplayer.fp-default-playlist.is-mouseover:not(.is-fullscreen) .fp-prev,
.freedomplayer.fp-default-playlist.is-mouseover:not(.is-fullscreen) .fp-next,
.freedomplayer.fp-default-playlist.is-mouseover-bottom .fp-prev,
.freedomplayer.fp-default-playlist.is-mouseover-bottom .fp-next {
	opacity: 0.6;
}
.freedomplayer.fp-default-playlist.is-mouseover .fp-prev:hover, .freedomplayer.fp-default-playlist.is-mouseover .fp-next:hover {
	opacity: 1;
}
.flowplayer .fp-prev {
	left: 5px;
}
.flowplayer .fp-next {
	right: 5px;
}
.is-mouseout.flowplayer .fp-prev, .is-mouseout.flowplayer .fp-next,
.is-cva.flowplayer .fp-prev, .is-cva.flowplayer .fp-next {
	transition: opacity .1;
}

@-moz-keyframes blending{
	to { opacity: 1; }
}@-webkit-keyframes blending{
	to { opacity: 1 }
}@-o-keyframes blending{
	to { opacity: 1 }
}@-ms-keyframes blending{
	to { opacity: 1 }
}@keyframes blending{
	to { opacity: 1 }
}

/*  Other playlist styles */
.fp-playlist-external a,.entry-content .fp-playlist-external a {position:relative;text-decoration:none;border-bottom:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;text-align:center;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.fp-playlist-external a:focus,.entry-content .fp-playlist-external a:focus {outline:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.fp-playlist-external a:hover,.entry-content .fp-playlist-external a:hover {-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;text-decoration:none;border-bottom:0}
.fp-playlist-external a,.fp-playlist-external a h4,.fp-playlist-vertical-wrapper .fp-playlist-external {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.fp-playlist-external a .fvp-playlist-thumb:empty,.fp-playlist-horizontal a.fvp-video-thumb-no-splash h4 {background-color:#aaa}
.fp-playlist-external a .fvp-playlist-thumb {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.fp-playlist-external .fvp-playlist-thumb-img {
	height: 0;
	overflow: hidden;
	padding-top: 56.25%;
	position: relative;
}
.fp-playlist-external > a > .fvp-playlist-thumb-img > img,
.fp-playlist-external > div > a > .fvp-playlist-thumb-img > img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border: 0;
}
.fvp-playlist-thumb-img.no-image {
	background: radial-gradient(transparent, transparent, rgba( 128, 128, 128, 0.15) )
}
.fp-playlist-external a.is-active .fvp-playlist-thumb:after {opacity:0;position:absolute;content:"";top:0;bottom:0;left:0;right:0;opacity:0;border:0;transition: all ease-in-out 1s;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;z-index:98}
.fp-playlist-external a h4 {font-family:Helvetica Neue,Helvetica,Arial,sans-serif;letter-spacing:0;font-weight:400;line-height:1.25}
.fp-playlist-external a .now-playing {opacity:0;width:100%;height:100%;transition: all 1s ease-in-out 0s;position:absolute;top:0;bottom:0;left:0;right:0;box-shadow: inset 0 0 250px #000;color:#fff;font-size:16px;font-family:"myriad pro",Helvetica,Arial,sans-serif;font-weight:700;text-transform:uppercase;text-shadow:0 0 5px #333;z-index:99;-webkit-animation:blending 3s ease-in-out 1s alternate infinite;-moz-animation:blending 3s ease-in-out 1s alternate infinite;animation:blending 3s ease-in-out 1s alternate infinite}
.fp-playlist-external a .now-playing span {background-color:transparent;display:block;margin:0 auto;position:relative;top:50%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);transform:translateY(-50%)}
.fp-playlist-external.fv-playlist-design-2017 a.is-active h4,.fp-playlist-external a.is-active:hover .now-playing {display:none;}
.fp-playlist-external.fv-playlist-design-2017 a.is-active:hover h4 {display:block}

.fp-playlist-horizontal {text-align:center;display:block;margin-left:auto;margin-right:auto;margin-bottom: 24px;clear:both;font-size:0}
.fp-playlist-horizontal:before,.fp-playlist-horizontal:after {content:"";display:table}
.fp-playlist-horizontal:after {clear:both}
.fp-playlist-horizontal a,.entry-content .fp-playlist-horizontal a,.flowplayer.is-fv-narrow + .fp-playlist-horizontal a {width: 33.333333333%;display:inline-block;vertical-align:top;margin:0;padding:0;background-color:#fff;border:1px solid #fff;text-align:center;font-size:13px;line-height:1.2;position:relative}
.fp-playlist-horizontal a:hover,.entry-content .fp-playlist-horizontal a:hover {border:1px solid #fff}
.fp-playlist-horizontal a:nth-child(3n+1) {clear:both}
.fp-playlist-external a .fvp-playlist-thumb {display:block;position:relative;width:100%;height:auto;margin:0;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s;padding-top:56%;border:0;background-size:cover;background-position:center center;background-repeat:no-repeat}
.fp-playlist-horizontal a:nth-child(3n+1) .fvp-playlist-thumb:before {display:none}
.fp-playlist-external a h4 {opacity:0;position:absolute;top:0%;bottom:0;left:0;right:0;width:100%;margin:0 auto;padding:5px 10px;text-align:center;transition:all 0.3s ease-in-out 0.1s;font-size:13px;color:#fff;background-color:rgba(0, 0, 0, 0.75)}
.fp-playlist-external a h4 span {position:absolute;top:50%;left:0;right:0;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);transform:translateY(-50%);border:0;padding:5px 10px}
.fp-playlist-external a:hover h4,.fp-playlist-external a.fvp-video-thumb-no-splash h4,#dashboard-widgets .flowplayer-wrapper a:hover h4,.fp-playlist-external a.is-active:hover h4, .fp-playlist-external a:hover .dur {opacity:1;color:#fff}
.fp-playlist-horizontal a.is-active {-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}
.is-touch + .fp-playlist-horizontal a h4 {opacity:1;background-color:transparent;text-shadow:0 0 12px #000;top:20%;bottom:20%;font-family:"myriad pro",Helvetica,Arial,sans-serif !important}
.is-touch + .fp-playlist-horizontal.is-audio a h4 {text-shadow:none}
.is-touch + .fp-playlist-horizontal a h4 span {background-color:rgba(0,0,0,.3)}
.is-touch + .fp-playlist-horizontal.is-audio a h4 span {background-color:transparent}
.fp-playlist-horizontal.is-wide a,.entry-content .fp-playlist-horizontal.is-wide a {width: 20%}
.fp-playlist-horizontal.is-wide a:nth-child(3n+1) .fvp-playlist-thumb:before {display: block}
.fp-playlist-horizontal.is-wide a:nth-child(5n+1) .fvp-playlist-thumb:before {display: none}
.fp-playlist-horizontal.is-wide a:nth-child(3n+1) {clear:none}
.fp-playlist-horizontal.is-wide a:nth-child(5n+1) {clear:both}

.fv-playlist-slider-wrapper { overflow-x: auto; margin-bottom: 24px;-webkit-overflow-scrolling: touch;display:block}
.fv-playlist-slider-wrapper .fp-playlist-horizontal { margin-bottom: 8px; width: 2500px;text-align:left }
.fv-playlist-slider-wrapper .fp-playlist-horizontal a, .fv-playlist-slider-wrapper .fp-playlist-horizontal.is-wide a { width: 200px }

.fp-playlist-vertical {text-align:left;overflow-x:hidden;max-width:100%;background-color:#fff}
.fp-playlist-vertical-player {float:left!important;max-width:calc( 100% - 156px)!important}
.fp-playlist-vertical-wrapper {margin-bottom:24px;overflow:hidden;display:block}
.fp-playlist-vertical-wrapper:before,.fp-playlist-vertical-wrapper:after,.fp-playlist-text-wrapper:before,.fp-playlist-text-wrapper:after {content:"";display:table}
.fp-playlist-vertical-wrapper:after,.fp-playlist-text-wrapper:after {clear:both}
.fp-playlist-vertical.fp-playlist-only-captions a h4 span {line-height:1}
.fp-playlist-vertical a .fvp-playlist-thumb {display:block;position:relative;width:100%;height:auto;margin:0 0 1px;padding-top:55%;border:0;background-color:#fff;background-size:cover;background-position:center center;background-repeat:no-repeat}
.fp-playlist-vertical a h4 {margin:0;font-size:13px;color:#000}
	.fp-playlist-vertical-wrapper .flowplayer {width:75%;float:left}
	.fp-playlist-vertical-wrapper .fp-playlist-vertical {width:25%;margin-bottom:0;padding:0 2px}
	.fp-playlist-vertical-wrapper .fp-playlist-vertical a {display:block;margin-bottom:2px}
	.css-videos .fp-playlist-vertical-wrapper video, .fp-playlist-vertical-wrapper video {min-height:0 !important;height:100% !important}
.fp-playlist-external.fp-playlist-vertical a:hover .now-playing {opacity:0}
.fp-playlist-only-captions.fp-playlist-vertical a h4 {position:relative;top:auto;background-color:transparent;opacity:1;text-shadow:none}
.fp-playlist-only-captions.fp-playlist-vertical a,.fp-playlist-only-captions.fp-playlist-vertical a:hover h4 {color:#000}

/* Playlist 2014 - classic */
.fv-playlist-design-2014.fp-playlist-external a h4 {opacity:1;position:relative;margin-bottom:7px;padding:0 10px 4px;color:#000;background-color:transparent;text-shadow:none}
.fv-playlist-design-2014.fp-playlist-external a h4 span {background-color:transparent;position:relative;transform:none;top:auto;padding:0}
.fv-playlist-design-2014.fp-playlist-external a:hover h4,.fv-playlist-design-2014.fp-playlist-external a.fvp-video-thumb-no-splash h4,#dashboard-widgets .flowplayer-wrapper .fv-playlist-design-2014 a:hover h4 {color:inherit}

/* Playlist 2017 - text only */
.fp-playlist-text.fp-playlist-external a h4,.visible-captions.fp-playlist-external a h4 {background-color:transparent;opacity:1}
.visible-captions.fp-playlist-external a h4 span {color: #fff;background-color:rgb(0, 0, 0);background-color:rgba(0, 0, 0, 0.5)}
.fp-playlist-text.fp-playlist-external a:hover .fvp-playlist-thumb {background-color:#666}
.fp-playlist-text.fp-playlist-vertical a {margin-bottom:12px;}
.fp-playlist-text.fp-playlist-external a.is-active .fvp-playlist-thumb:after {background-color:transparent}
	.fp-playlist-text-wrapper .fp-playlist-only-captions a .now-playing {display:none}
	.fp-playlist-only-captions.fp-playlist-vertical a {display:block;}
	.fp-playlist-text-wrapper.is-fv-narrow .flowplayer,.fp-playlist-text-wrapper.is-fv-narrow .fp-playlist-text,.fp-playlist-text-wrapper.is-fv-narrow .fp-playlist-only-captions,.fp-playlist-vertical-wrapper.is-fv-narrow .flowplayer,.fp-playlist-vertical-wrapper.is-fv-narrow .fp-playlist-vertical {width:100%;float:none;margin-bottom:0}
	.fp-playlist-vertical-wrapper.is-fv-narrow .fp-playlist-vertical a {width:49%;float:left;margin:0.75% 0.5%}
	.fp-playlist-text-wrapper.is-fv-narrow .fp-playlist-only-captions a {width:100%;float:none;display:block}
	.fp-playlist-external.fp-playlist-vertical.fp-playlist-only-captions a h4, .entry-content .fp-playlist-external.fp-playlist-vertical.fp-playlist-only-captions a h4 { text-align: left; padding:2px 8px }
	.fp-playlist-external.fp-playlist-vertical.fp-playlist-only-captions a h4 span { position:relative;top:auto;left:auto;right:auto;-webkit-transform:none;transform:none;padding:0 }
	.fp-playlist-only-captions.fp-playlist-external .dur { opacity:1;color:#999;position:relative;right:auto;top:auto;text-shadow:none;margin-left:6px; }
	.fp-playlist-only-captions.fp-playlist-external a:hover .dur { color:#999; }

	/* Polaroid Playlist */

.fp-playlist-external.fp-playlist-polaroid a,
.entry-content .fp-playlist-external.fp-playlist-polaroid a {
	width: 47%;
	display: inline-block;
	vertical-align: top;
	margin: 0 1% 2%;
	padding: 0;
	font-size: 16px;
	line-height: 1.2;
	position: relative;
	background: ghostwhite;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	border: 10px solid ghostwhite;
	padding-bottom: 40px;
}
.fp-playlist-external.fp-playlist-polaroid a:hover,
.entry-content .fp-playlist-external.fp-playlist-polaroid a:hover {
	background-color: #f4f4f4;
	border: 10px solid #f4f4f4;
}
.fp-playlist-external.fp-playlist-polaroid a:before {
	content: '';
	position: absolute;
	top: 10px;
	bottom: 8px;
	left: 10px;
	right: 0px;
	display: block;
	-webkit-box-shadow: 0 15px 10px #777;
	-moz-box-shadow: 0 15px 10px #777;
	box-shadow: 0 15px 10px #777;
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	transform: rotate(2deg);
	z-index: -1;
}
.fp-playlist-external.fp-playlist-polaroid .fvp-playlist-thumb-img {
	height: 0;
	overflow: hidden;
	padding-top: 90%;
	position: relative;
	z-index: 3;
}
.fp-playlist-external.fp-playlist-polaroid a h4 {
	position: absolute;
	top: 0;
	bottom: 2px;
	left: 0;
	right: 0;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	text-align: left;
	font-size: 14px;
	font-weight: 400;
	font-family: Courier, Courier New;
	line-height: 1.2;
	background-color: transparent;
	color: #000;
	opacity: 1;
	z-index: 9;
}
.fp-playlist-external.fp-playlist-polaroid a h4 span {
	background-color: transparent;
	color: #000;
	top: auto;
	bottom: 0;
	padding: 0;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
}
.fp-playlist-external.fp-playlist-polaroid .dur {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}
.fp-playlist-external.fp-playlist-polaroid a:nth-child(2n+1) {
	clear: both;
}

/*  Playlist Duration */
.fp-playlist-external .dur { font-style:normal;font-size:13px;position:absolute;top:6px;right:6px;color:#fff;line-height:1;text-shadow:0 0 3px #333;opacity:0;-webkit-transition:all 0.3s ease-in-out 0.1s;-moz-transition:all 0.3s ease-in-out 0.1s;transition:all 0.3s ease-in-out 0.1s }

/* Vertical Season Style */
.fvp-progress-wrap {
	position: absolute;
	height: .5em;
	bottom: .5em;
	left: .5em;
	right: .5em;
	opacity: .5;
	border-radius: 1em;
}
.fvp-progress {
	height: 100%;
	position: absolute;
	left: 0;
}

.fvp-playlist-item-info {
	float: right;
	text-align: left;
	width: 65%;
}
.fp-playlist-season a:after {
	clear: both;
	content: "";
	display: table;
}
.fp-playlist-season a .fvp-playlist-thumb {
	width: 33%;
	height: 200px;
	padding-top: 0;
}
.fp-playlist-season a h4 {
	opacity: 100;
	position: static;
}
.fp-playlist-season a h4 span {
	position: static;
}
.fp-playlist-season .dur {
	opacity: 100;
	position: static;
	color: inherit;
	text-shadow: none;
}

.flowplayer.has-playlist-season, .flowplayer.has-playlist-season.skin-custom,
.flowplayer.has-playlist-polaroid, .flowplayer.has-playlist-polaroid.skin-custom {
	display: none;
}
.flowplayer.has-playlist-season.is-fullscreen, .flowplayer.has-playlist-polaroid.is-fullscreen {
	display: block;
}

/* Editing Movies and Shows */

.fp-playlist-external.fp-playlist-season .fp-playlist-external a {
	clear: both;
	display: block;
	margin: 0 0 2em;
	max-width: 600px;
}
.fp-playlist-external.fp-playlist-season .fvp-playlist-item-info {
	float: right;
	font-weight: 300;
	font-family: inherit;
	margin: 0 0 .5em;
	width: 48%;
	}
.fp-playlist-external.fp-playlist-season .fvp-playlist-thumb-img {
	float: left;
	width: 48%;
	position: relative;
	margin: 0 2% 0 0;
	padding-top: 28%;
	margin-bottom: 30px;
}
.fp-playlist-external.fp-playlist-season .fvp-playlist-thumb-img img {
	display: block;
}
.fp-playlist-external.fp-playlist-season .fp-playlist-external a h4 {
	background: none;
	text-align: left;
	padding: 0;
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: 700;
	margin-bottom: .5em;
}
.fp-playlist-external.fp-playlist-season .fvp-playlist-item-info p:last-child {
	margin-bottom: .5em;
}
.fp-playlist-external.fp-playlist-season .fp-playlist-season .dur {
	color: #aaa;
	font-weight: 300;
}
.fp-playlist-external.fp-playlist-season .fp-playlist-external a h4 {
	background-color: transparent;
	color: #000;
	width: auto;
	text-align: left;
}
.fp-playlist-external.fp-playlist-season .fvp-progress-wrap {
	background-color: #999;
	background-color: rgba(255,255,255,0.5);
	-webkit-box-shadow: 0 0 3px #000;
	-moz-box-shadow: 	0 0 3px #000;
	box-shadow: 		0 0 3px #000;
}
.fp-playlist-external.fp-playlist-season .fvp-playlist-item-info h4 {
	text-align: left;
	font-size: 1em;
	padding: 0;
	color: inherit;
	font-weight: bold;
	background: transparent;
	transition: inherit;
}
.fp-playlist-external.fp-playlist-season .fvp-playlist-item-info p {
	color: inherit;
	margin-bottom: 0;
}
.fp-playlist-external.fp-playlist-season .fvp-playlist-item-info .dur {
	color: inherit;
	font-size: 0.65em;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	transition: inherit;
}
.fp-playlist-external.fv-playlist-design-2017 a.is-active h4 {
	display: block;
	text-decoration: underline;
}
.fp-playlist-external.fp-playlist-season a:hover h4,
.fp-playlist-external.fp-playlist-season a.fvp-video-thumb-no-splash h4,
.fp-playlist-external.fp-playlist-season a.is-active:hover h4,
.fp-playlist-external.fp-playlist-season a:hover .dur {
	color: inherit;
}
.fp-playlist-external.fp-playlist-season a .now-playing {
	display: none;
}

/* Audio player playlist */
.fp-playlist-external.is-audio a .now-playing { display:none; }
.fp-playlist-external.is-audio { counter-reset: fv-playlist-counter;background-color:#f0f0f0;border-radius:0 0 10px 10px;border-top:1px solid #fff }
.flowplayer.is-audio + .visible-captions.fp-playlist-external a h4 span { color:inherit;background-color:transparent; }
.fp-playlist-external.is-audio .dur { color:#666;opacity:1;text-shadow:none;position:static;float:right;}
.is-audio + .fp-playlist-horizontal {margin-left:0;margin-right:0}
.is-audio + .fp-playlist-horizontal a .fvp-playlist-thumb,.entry-content .is-audio + .fp-playlist-horizontal a .fvp-playlist-thumb,.flowplayer.is-audio .fp-player + a { display:none;bottom:0;background-image:none !important }
.fp-playlist-external.is-audio.fp-playlist-horizontal a,.entry-content .fp-playlist-external.is-audio.fp-playlist-horizontal a,.flowplayer.is-fv-narrow .fp-playlist-external.is-audio.fp-playlist-horizontal a { counter-increment:fv-playlist-counter;width:100%;display:block;text-align:left;line-height:1.15;margin:0;padding:6px 12px;border:0;color:#666;clear:both;min-height:26px }
.fp-playlist-external.is-audio a:nth-child(odd),.entry-content .fp-playlist-external.is-audio a:nth-child(odd) {background-color: #f8f8f8;}
.fp-playlist-external.is-audio a h4,.entry-content .fp-playlist-external.is-audio a h4 { display: block;opacity:1;position:relative;text-align:left;font-size:13px;padding:0;clear:none;left:auto;width:auto;background-color:transparent;color:inherit }
.fp-playlist-external.is-audio a h4 span,.entry-content .fp-playlist-external.is-audio a h4 span { position:relative;top:auto;padding:0;transform:none }
.fp-playlist-external.is-audio a h4:before,.entry-content .fp-playlist-external.is-audio a h4:before { content: counter(fv-playlist-counter, decimal-leading-zero) ". ";float:left;min-width:26px;color:#adadad;font-weight:400 }

.fp-playlist-external.is-audio a.is-active,.fp-playlist-external.is-audio a.is-active h4,.fp-playlist-external.is-audio a.is-active h4:before {color:#bb0000}

.fp-playlist-external.is-audio .fvp-playlist-thumb-img {
	padding-top: 0;
}

/* WIP: Playlist 2022 */
.fp-playlist-version-one,
.fp-playlist-version-two {
	max-width: 100% !important;
	position: relative;
	display: flex;
}

.fv-playlist-draggable {
	display: grid;
	--fp-playlist-items-gap: 20px;
	grid-auto-flow: column;
	grid-auto-columns: calc( ( 100% - ( var(--fp-playlist-items-per-row) - 1 ) * var(--fp-playlist-items-gap) ) / var(--fp-playlist-items-per-row) );
	column-gap: var(--fp-playlist-items-gap);
	overflow: auto hidden;
	user-select: none;
	width: 100%;
}

.fp-playlist-version-one .fv-playlist-draggable::-webkit-scrollbar {
	width: 0 !important;
}

.fp-playlist-version-one .fv-playlist-draggable {
	scrollbar-width: none;
}
.fp-playlist-version-two .fv-playlist-draggable {
	--fp-playlist-items-gap: 4px;
	touch-action: pan-x;
	scrollbar-color: #12784a #2222;
	scrollbar-width: thin;
	cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
	.fp-playlist-version-two .fv-playlist-draggable {
		cursor: auto;
	}
}

.fp-playlist-version-two .fv-playlist-draggable::-webkit-scrollbar {
	height: 30px;
	background: linear-gradient(to bottom, transparent 18px, rgb(34 34 34 / 13%) 18px 22px, transparent 22px);
}

.fp-playlist-version-two .fv-playlist-draggable::-webkit-scrollbar-thumb {
	background: linear-gradient(to bottom, transparent 18px, #12784a 18px 22px, transparent 22px);
}

.fp-playlist-version-two .fv-playlist-draggable::-webkit-scrollbar-thumb:horizontal:hover {
	background: linear-gradient(to bottom, transparent 17px, #12784a 17px 23px, transparent 23px);
}

.fp-playlist-version-two .fv-playlist-draggable > a:hover .fvp-playlist-thumb-img > img {
	transform: scale(1.05);
}

.fp-playlist-version-two .fvp-playlist-thumb-img > img {
	transition: all 0.6s;
}

.fp-playlist-version-two .fv-playlist-draggable > a > * {
	transition: transform 0.6s ease;
	border-radius: 20px;
}

.fv-playlist-slider-controls {
	width: 100%;
	display: flex;
	justify-content: space-between;
	position: absolute;
	-webkit-tap-highlight-color: #0000;
	transition: all 0.3s;
	pointer-events: none;
	top: 33%;
}

.fp-playlist-version-two .fv-playlist-slider-controls {
	opacity: 0;
}

.fv-playlist-left-arrow,
.fv-playlist-right-arrow {
	align-items: center;
	appearance: button;
	color: #000;
	border-radius: 50%;
	border: none;
	display: flex;
	width: 50px;
	justify-content: center;
	height: 50px;
	padding: 12px;
	transition: all .3s;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 15'%3E%3Cpath d='m5.5 0 8 7.5-8 7.5-2-2 5.9-5.5L3.6 2z'/%3E%3C/svg%3E") no-repeat center/15px #fff;
	pointer-events: auto;
}

.fv-playlist-draggable.leftmost + .fv-playlist-slider-controls .fv-playlist-left-arrow,
.fv-playlist-draggable.rightmost + .fv-playlist-slider-controls .fv-playlist-right-arrow {
	opacity: 0;
}

.fp-playlist-version-two:hover .fv-playlist-slider-controls {
	opacity: 1;
}

.fp-playlist-version-two:hover .fv-playlist-left-arrow {
	transform: scale(-1) translateX(-30px);
}

.fv-playlist-left-arrow {
	transform: scale(-1);
}

.fp-playlist-version-two:hover .fv-playlist-right-arrow {
	transform: translateX(-30px);
}

.fp-playlist-version-one.fp-playlist-external a h4,
.fp-playlist-version-two.fp-playlist-external a h4 {
	position: relative;
	opacity: 1;
	margin-top: 10px;
	background: none;
	color: inherit;
	text-align: left;
	padding: 0;
	line-height: 1.4;
	transition: inherit;
}

.fp-playlist-version-one.fp-playlist-external a h4 span,
.fp-playlist-version-two.fp-playlist-external a h4 span {
	position: static;
	padding: 0;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	display: block;
	transform: none;
}

.fp-playlist-version-one.fp-playlist-external .dur,
.fp-playlist-version-one.fp-playlist-external a:hover .dur,
.fp-playlist-version-two.fp-playlist-external .dur,
.fp-playlist-version-two.fp-playlist-external a:hover .dur,
.fp-playlist-version-one.fp-playlist-external a:hover h4,
.fp-playlist-version-two.fp-playlist-external a:hover h4 {
	color: inherit;
	transition: inherit;
}

.fp-playlist-version-one.fp-playlist-external .dur,
.fp-playlist-version-two.fp-playlist-external .dur {
	position: static;
	opacity: 1;
	text-shadow: none;
	font-size: 14px;
}

@media only screen and (max-width: 47.9375em) {
	.fp-playlist-horizontal {margin-left:-1px;margin-right:-1px}
	.fp-playlist-horizontal a,.entry-content .fp-playlist-horizontal a, .flowplayer.is-fv-narrow + .fp-playlist-horizontal a {width: 50%}
	.fp-playlist-horizontal a:nth-child(3n+1) {clear:none}
	.fp-playlist-horizontal a:nth-child(2n+1) {clear:both}
	.fv-playlist-slider-wrapper .fp-playlist-horizontal a,.entry-content .fv-playlist-slider-wrapper .fp-playlist-horizontal a, .flowplayer.is-fv-narrow + .fv-playlist-slider-wrapper .fp-playlist-horizontal a {width: 200px}
}

@media (max-width: 39.9375em){
	.fp-playlist-vertical-wrapper .fp-playlist-vertical {padding:0}
	.fp-playlist-horizontal a h4, .fp-playlist-external a h4 {font-size:12px}
	.fp-playlist-vertical-wrapper .fp-playlist-vertical a,.fp-playlist-vertical a {width:49.5%;float:left;margin: .75% 0 0 1%}
	.fp-playlist-only-captions.fp-playlist-vertical a {width:100%;float:none;margin:8px 0}
	.fp-playlist-vertical a:nth-child(2n+1) {clear:both;margin-left:0}
}

@media only screen and (max-width: 29.9375em) {
	.fp-playlist-external a h4 {font-size:10px}
}

@media only screen and (max-width: 22.44em) {
	.fp-playlist-vertical-wrapper.is-fv-narrow .fp-playlist-vertical a {width:100%;float:none;margin:.75% .5%}
}

@media screen and (min-width: 800px) {
	.fp-playlist-external.fp-playlist-polaroid a,
	.entry-content .fp-playlist-external.fp-playlist-polaroid a {
		width: 30.333333333333%;
	}
	.fp-playlist-external.fp-playlist-polaroid a:nth-child(2n+1) {
		clear: none;
	}
	.fp-playlist-external.fp-playlist-polaroid a:nth-child(3n+1) {
		clear: both;
	}
}

@media screen and (min-width: 1020px) {
	.fp-playlist-external.fp-playlist-polaroid a,
	.entry-content .fp-playlist-external.fp-playlist-polaroid a {
		width: 22%;
	}
	.fp-playlist-external.fp-playlist-polaroid a:nth-child(2n+1) {
		clear: none;
	}
	.fp-playlist-external.fp-playlist-polaroid a:nth-child(3n+1) {
		clear: none;
	}
	.fp-playlist-external.fp-playlist-polaroid a:nth-child(4n+1) {
		clear: both;
	}
}
