/* Amazon S3 Browser */
@charset "utf-8";

/* Breadcrumps */

.attachments-browser .breadcrumbs {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
    margin: 31px 0 0 17px;
}
.attachments-browser .breadcrumbs a:link, .attachments-browser .breadcrumbs a:visited {
    color: #000;
    text-decoration: none;
}
.attachments-browser .breadcrumbs a:hover {
    text-decoration: underline;
}
.attachments-browser .breadcrumbs .arrow {
    color:  #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
}

/* Content area */

.attachments-browser .nothingfound {
    background-color: #373743;
    width: 23em;
    height: 21em;
    margin: 0 auto;
    display: none;
    font-family: Arial;
    -webkit-animation: showSlowlyElement 700ms; /* Chrome, Safari, Opera */
    animation: showSlowlyElement 700ms; /* Standard syntax */
}
.attachments-browser .nothingfound .nofiles {
    margin: 30px auto;
    top: 3em;
    border-radius: 50%;
    position:relative;
    background-color: #d72f6e;
    width: 11em;
    height: 11em;
    line-height: 11.4em;
}
.attachments-browser .nothingfound .nofiles:after {
    content: '×';
    position: absolute;
    color: #ffffff;
    font-size: 14em;
    margin-right: 0.092em;
    right: 0;
}
.attachments-browser .nothingfound span {
    margin: 0 auto auto 6.8em;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    height: 13px;
    position: relative;
    top: 2em;
}

/* Icons */

.attachments-browser .icon {
    font-size: 18px;
    width: 3em;
}
.attachments-browser table .icon {
    font-size: 5px;
}
.attachments-browser .icon.folder {
    display: inline-block;
    margin: 1em !important;
    background-color: transparent;
    overflow: hidden;
}
.attachments-browser table .icon.folder {
    margin: 0.5em 1em 0 0 !important;
}
.attachments-browser .icon.folder:before {
    content: '';
    float: left;
    background-color: #7ba1ad;
    width: 1.5em;
    height: 0.45em;
    margin-left: 0.07em !important;
    margin-bottom: -0.07em !important;
    border-top-left-radius: 0.1em;
    border-top-right-radius: 0.1em;
    box-shadow: 1.25em 0.25em 0 0em #7ba1ad;
}
.attachments-browser .icon.folder:after {
    content: '';
    float: left;
    clear: left;
    background-color: #a0d4e4;
    width: 3em;
    height: 2.25em;
    border-radius: 0.1em;
}
.attachments-browser .icon.folder.full:before {
    height: 0.55em;
}
.attachments-browser .icon.folder.full:after {
    height: 2.15em;
    box-shadow: 0 -0.12em 0 0 #ffffff;
}
.attachments-browser .icon.thumb {
    text-align: center;
    margin: 0 !important;
    position: relative !important;
    overflow: hidden;
    font-size: 1em;
    width: auto;
    height: auto;
}
.attachments-browser table .icon.thumb {
    width: 1em;
}
.wp-core-ui .attachments-browser .icon.file {
    width: 2.5em;
    height: 3em;
    line-height: 3em;
    text-align: center;
    border-radius: 0.25em;
    color: #FFF;
    display: block;
    margin-top: 0.9em;
    position: relative;
    overflow: hidden;
    box-shadow: 1.74em -2.1em 0 0 #A4A7AC inset;
}
.wp-core-ui .attachments-browser table .icon.file {
    margin: 0 1.5em 0 0;
    float: left;
}
.attachments-browser .icon.file:first-line {
    font-size: 13px;
    font-weight: 700;
}
.attachments-browser .icon.file:after {
    content: '';
    position: absolute;
    z-index: -1;
    border-width: 0;
    border-bottom: 2.6em solid #c0c0c0;
    border-right: 2.22em solid rgba(0, 0, 0, 0);
    top: -30.5px;
    right: 0;
}
.attachments-browser .icon.file.f-avi,
.attachments-browser .icon.file.f-flv,
.attachments-browser .icon.file.f-mkv,
.attachments-browser .icon.file.f-mov,
.attachments-browser .icon.file.f-mpeg,
.attachments-browser .icon.file.f-mpg,
.attachments-browser .icon.file.f-mp4,
.attachments-browser .icon.file.f-m4v,
.attachments-browser .icon.file.f-wmv {
    box-shadow: 1.74em -2.1em 0 0 #7e70ee inset;
}
.attachments-browser .icon.file.f-avi:after,
.attachments-browser .icon.file.f-flv:after,
.attachments-browser .icon.file.f-mkv:after,
.attachments-browser .icon.file.f-mov:after,
.attachments-browser .icon.file.f-mpeg:after,
.attachments-browser .icon.file.f-mpg:after,
.attachments-browser .icon.file.f-mp4:after,
.attachments-browser .icon.file.f-m4v:after,
.attachments-browser .icon.file.f-wmv:after {
    border-bottom-color: #5649c1;
}
.attachments-browser .icon.file.f-mp2,
.attachments-browser .icon.file.f-mp3,
.attachments-browser .icon.file.f-m3u,
.attachments-browser .icon.file.f-wma,
.attachments-browser .icon.file.f-xls,
.attachments-browser .icon.file.f-xlsx {
    box-shadow: 1.74em -2.1em 0 0 #5bab6e inset;
}
.attachments-browser .icon.file.f-mp2:after,
.attachments-browser .icon.file.f-mp3:after,
.attachments-browser .icon.file.f-m3u:after,
.attachments-browser .icon.file.f-wma:after,
.attachments-browser .icon.file.f-xls:after,
.attachments-browser .icon.file.f-xlsx:after {
    border-bottom-color: #448353;
}
.attachments-browser .icon.file.f-doc,
.attachments-browser .icon.file.f-docx,
.attachments-browser .icon.file.f-psd{
    box-shadow: 1.74em -2.1em 0 0 #03689b inset;
}
.attachments-browser .icon.file.f-doc:after,
.attachments-browser .icon.file.f-docx:after,
.attachments-browser .icon.file.f-psd:after {
    border-bottom-color: #2980b9;
}
.attachments-browser .icon.file.f-gif,
.attachments-browser .icon.file.f-jpg,
.attachments-browser .icon.file.f-jpeg,
.attachments-browser .icon.file.f-pdf,
.attachments-browser .icon.file.f-png {
    box-shadow: 1.74em -2.1em 0 0 #e15955 inset;
}
.attachments-browser .icon.file.f-gif:after,
.attachments-browser .icon.file.f-jpg:after,
.attachments-browser .icon.file.f-jpeg:after,
.attachments-browser .icon.file.f-pdf:after,
.attachments-browser .icon.file.f-png:after {
    border-bottom-color: #c6393f;
}
.attachments-browser .icon.file.f-deb,
.attachments-browser .icon.file.f-dmg,
.attachments-browser .icon.file.f-gz,
.attachments-browser .icon.file.f-rar,
.attachments-browser .icon.file.f-zip,
.attachments-browser .icon.file.f-7z {
    box-shadow: 1.74em -2.1em 0 0 #867c75 inset;
}
.attachments-browser .icon.file.f-deb:after,
.attachments-browser .icon.file.f-dmg:after,
.attachments-browser .icon.file.f-gz:after,
.attachments-browser .icon.file.f-rar:after,
.attachments-browser .icon.file.f-zip:after,
.attachments-browser .icon.file.f-7z:after {
    border-bottom-color: #685f58;
}
.attachments-browser .icon.file.f-html,
.attachments-browser .icon.file.f-rtf,
.attachments-browser .icon.file.f-xml,
.attachments-browser .icon.file.f-xhtml {
    box-shadow: 1.74em -2.1em 0 0 #a94bb7 inset;
}
.attachments-browser .icon.file.f-html:after,
.attachments-browser .icon.file.f-rtf:after,
.attachments-browser .icon.file.f-xml:after,
.attachments-browser .icon.file.f-xhtml:after {
    border-bottom-color: #d65de8;
}
.attachments-browser .icon.file.f-js {
    box-shadow: 1.74em -2.1em 0 0 #d0c54d inset;
}
.attachments-browser .icon.file.f-js:after {
    border-bottom-color: #a69f4e;
}
.attachments-browser .icon.file.f-css,
.attachments-browser .icon.file.f-saas,
.attachments-browser .icon.file.f-scss {
    box-shadow: 1.74em -2.1em 0 0 #44afa6 inset;
}
.attachments-browser .icon.file.f-css:after,
.attachments-browser .icon.file.f-saas:after,
.attachments-browser .icon.file.f-scss:after {
    border-bottom-color: #30837c;
}

.bucket-dropdown {
    margin: 10px 0 15px 10px;
}

@media screen and (max-width: 600px) {
    #__assets_browser .attachments-browser .icon {
        font-size:1em!important;
        margin-top:2em!important;
    }
    #__assets_browser .attachments-browser .icon.file:after {
        top: -27.5px!important;
    }
    #__assets_browser .filemanager .data li {
        width:100%!important;
    }
    #__assets_browser .attachments-browser ul.data {

        margin-left:0px!important;
        margin-right:0px!important;

    }
}

#__assets_browser {
    top: 55px;
    z-index: 2; /* or a file uploader link will be invisibly over the UL with thumbs */
}

#__assets_browser .attachments-browser .s3-media-toolbar {
    height: 40px !important;
}

#__assets_browser .attachments-browser .attachment .thumbnail img {
    left: 50% !important;
    margin-left: -100% !important;
}

#__assets_browser .attachment-preview.fullsize img {
    width: auto !important;
    height: 100% !important;
    padding: 0;
}

#__assets_browser .attachment-preview .loadmore {
    margin-top: -60%;
    padding-bottom: 40%;
}

#__assets_browser .attachments-browser .errors {
    padding: 16px;
}

#overlay-loader-item #fv-player-shortcode-editor-preview-spinner {
    top: 0;
}

#overlay-loader-item button {
    margin: 1em;
}

#overlay-loader-item td {
    text-align: center;
    position: relative;
}

#__assets_browser .browser-progress-bar {
    width: 100%;
    min-width: 500px;
    height: 30px;
    background: rgba(0, 86, 132, 0.9);
    text-align: center;
    color: #fff;
    vertical-align: middle;
    padding-top: 10px;
    margin-bottom: 10px;
    position: relative;
    z-index: 10;
}

#__assets_browser .browser-progress-bar .bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1%;
    background: rgba(0, 86, 132, 0.9);
    z-index: 9;
}

#__assets_browser .browser-progress-bar .txt {
    position: absolute;
    margin: 0;
    padding-top: 10px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

/* Table Sorter Plugin CSS - https://mottie.github.io/tablesorter/docs */
.tablesorter-default{width:100%;font:12px/18px Arial,Sans-serif;color:#333;background-color:#fff;border-spacing:0;margin:10px 0 15px;text-align:left}.tablesorter-default th,.tablesorter-default thead td{font-weight:700;color:#000;background-color:#fff;border-collapse:collapse;border-bottom:#ccc 2px solid;padding:0}.tablesorter-default tfoot td,.tablesorter-default tfoot th{border:0}.tablesorter-default .header,.tablesorter-default .tablesorter-header{background-image:url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);background-position:center right;background-repeat:no-repeat;cursor:pointer;white-space:normal;padding:4px 20px 4px 4px}.tablesorter-default thead .headerSortUp,.tablesorter-default thead .tablesorter-headerAsc,.tablesorter-default thead .tablesorter-headerSortUp{background-image:url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);border-bottom:#000 2px solid}.tablesorter-default thead .headerSortDown,.tablesorter-default thead .tablesorter-headerDesc,.tablesorter-default thead .tablesorter-headerSortDown{background-image:url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);border-bottom:#000 2px solid}.tablesorter-default thead .sorter-false{background-image:none;cursor:default;padding:4px}.tablesorter-default tfoot .tablesorter-headerAsc,.tablesorter-default tfoot .tablesorter-headerDesc,.tablesorter-default tfoot .tablesorter-headerSortDown,.tablesorter-default tfoot .tablesorter-headerSortUp{border-top:#000 2px solid}.tablesorter-default td{background-color:#fff;border-bottom:#ccc 1px solid;padding:4px;vertical-align:top}.tablesorter-default tbody>tr.even:hover>td,.tablesorter-default tbody>tr.hover>td,.tablesorter-default tbody>tr.odd:hover>td,.tablesorter-default tbody>tr:hover>td{background-color:#fff;color:#000}.tablesorter-default .tablesorter-processing{background-position:center center!important;background-repeat:no-repeat!important;background-image:url(data:image/gif;base64,R0lGODlhFAAUAKEAAO7u7lpaWgAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQBCgACACwAAAAAFAAUAAACQZRvoIDtu1wLQUAlqKTVxqwhXIiBnDg6Y4eyx4lKW5XK7wrLeK3vbq8J2W4T4e1nMhpWrZCTt3xKZ8kgsggdJmUFACH5BAEKAAIALAcAAAALAAcAAAIUVB6ii7jajgCAuUmtovxtXnmdUAAAIfkEAQoAAgAsDQACAAcACwAAAhRUIpmHy/3gUVQAQO9NetuugCFWAAAh+QQBCgACACwNAAcABwALAAACE5QVcZjKbVo6ck2AF95m5/6BSwEAIfkEAQoAAgAsBwANAAsABwAAAhOUH3kr6QaAcSrGWe1VQl+mMUIBACH5BAEKAAIALAIADQALAAcAAAIUlICmh7ncTAgqijkruDiv7n2YUAAAIfkEAQoAAgAsAAAHAAcACwAAAhQUIGmHyedehIoqFXLKfPOAaZdWAAAh+QQFCgACACwAAAIABwALAAACFJQFcJiXb15zLYRl7cla8OtlGGgUADs=)!important}.tablesorter-default tr.odd>td{background-color:#dfdfdf}.tablesorter-default tr.even>td{background-color:#efefef}.tablesorter-default tr.odd td.primary{background-color:#bfbfbf}.tablesorter-default td.primary,.tablesorter-default tr.even td.primary{background-color:#d9d9d9}.tablesorter-default tr.odd td.secondary{background-color:#d9d9d9}.tablesorter-default td.secondary,.tablesorter-default tr.even td.secondary{background-color:#e6e6e6}.tablesorter-default tr.odd td.tertiary{background-color:#e6e6e6}.tablesorter-default td.tertiary,.tablesorter-default tr.even td.tertiary{background-color:#f2f2f2}.tablesorter-default>caption{background-color:#fff}.tablesorter-default .tablesorter-filter-row{background-color:#eee}.tablesorter-default .tablesorter-filter-row td{background-color:#eee;border-bottom:#ccc 1px solid;line-height:normal;text-align:center;-webkit-transition:line-height .1s ease;-moz-transition:line-height .1s ease;-o-transition:line-height .1s ease;transition:line-height .1s ease}.tablesorter-default .tablesorter-filter-row .disabled{opacity:.5;cursor:not-allowed}.tablesorter-default .tablesorter-filter-row.hideme td{padding:2px;margin:0;line-height:0;cursor:pointer}.tablesorter-default .tablesorter-filter-row.hideme *{height:1px;min-height:0;border:0;padding:0;margin:0;opacity:0}.tablesorter-default input.tablesorter-filter,.tablesorter-default select.tablesorter-filter{width:95%;height:auto;margin:4px auto;padding:4px;background-color:#fff;border:1px solid #bbb;color:#333;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-transition:height .1s ease;-moz-transition:height .1s ease;-o-transition:height .1s ease;transition:height .1s ease}.tablesorter .filtered{display:none}.tablesorter .tablesorter-errorRow td{text-align:center;cursor:pointer;background-color:#e6bf99}

#__assets_browser tbody tr {
  cursor: pointer;
}

#__assets_browser tbody tr.is_folder {
  cursor: auto;
}

#__assets_browser tbody tr.selected td {
  background-color: #EBF2FA;
}