#fv_player_boxLoadedContent{ background-color:white; }
#fv-player-shortcode-editor { background-color: white; }
.fv-wp-flowplayer-notice { background-color: #FFFFE0; border-color: #E6DB55; margin: 5px 0 15px; padding: 0 0.6em; border-radius: 3px 3px 3px 3px; border-style: solid; border-width: 1px; } 
.fv-wp-flowplayer-notice.fv-wp-flowplayer-note { background-color: #F8F8F8; border-color: #E0E0E0; } 
.fv-wp-flowplayer-notice p { font-family: sans-serif; font-size: 12px; margin: 0.5em 0; padding: 2px; } 
.fv_wp_flowplayer_playlist_remove { display: none; }
.fv-player-tabs-header { padding:6px 0 12px; }
#fv-flowplayer-playlist table { border-bottom: 1px #eee solid; }
#fv-player-shortcode-editor table input[type=text], #fv-flowplayer-playlist table input[type=text].with-button { width: 93%; }
#fv-player-shortcode-editor table input[type=text].half-field { width: 46%; }
#fv-player-shortcode-editor table/*:first-child*/ input.with-button { width: 70%; }
#fv-player-shortcode-editor table input.fv_wp_flowplayer_field_subtitles { width: 82%; }
#fv-player-shortcode-editor table input.fv_wp_flowplayer_field_subtitles.with-button { width: 59%; }
#fv-player-shortcode-editor table select.fv_wp_flowplayer_field_subtitles_lang { width: 10%;float:left; }
#fv-flowplayer-playlist table tr.video-size { display: none; }
#fv-flowplayer-playlist table tr#fv_wp_flowplayer_add_format_wrapper { display: none; }
#fv-flowplayer-playlist table tr#fv_wp_flowplayer_file_info { display: none; }
#fv-flowplayer-playlist table .fv_wp_flowplayer_field_rtmp { visibility: hidden; }
#fv-flowplayer-playlist table .fv_wp_flowplayer_field_rtmp_wrapper th { visibility: hidden; }
#fv-flowplayer-playlist table .hint { display: none; }
/*#fv-flowplayer-playlist table .button { display: none; }*/
#fv-flowplayer-playlist table:first-child tr.video-size { display: table-row; }
#fv-flowplayer-playlist table:first-child .hint { display: inline; }
#fv-flowplayer-playlist table:first-child tr#fv_wp_flowplayer_add_format_wrapper { display: table-row; }
#fv-flowplayer-playlist table:first-child tr#fv_wp_flowplayer_file_info { display: none; }
#fv-flowplayer-playlist table:first-child .fv_wp_flowplayer_field_rtmp { visibility: visible; }
#fv-flowplayer-playlist table:first-child .fv_wp_flowplayer_field_rtmp_wrapper th { visibility: visible; }
/*#fv-flowplayer-playlist table:first-child .button { display: inline-block; }*/
/*#colorbox, #cboxOverlay, #cboxWrapper{ z-index: 100000; }*/

#fv-player-shortcode-editor-editor{ top:0; }
#fv-player-shortcode-editor-editor > table{ width:100%; }
#fv-player-shortcode-editor td{ vertical-align: top; }
.fv-player-tab table{ margin-bottom: 10px; }
.fv-player-tabs-header .nav-tab-wrapper{ margin:0; }
.fv_player_actions_end-toggle,.fv_player_interface_hide,.fv-player-playlist-item-title{ display:none; }
#fv_player_boxTitle{ display:none!important; }
#fv_player_boxLoadedContent{ margin-top:0; }

.fv-player-shortcode-editor-left{ width:40%; }
.fv-player-shortcode-editor-right{ width:60%; }
.fv-player-tab{position:relative;}
.fv-player-tabs #fv-player-list-thumb-toggle{ position:absolute;right:10px;text-align:right;top:9px; }
#fv-player-list-thumb-toggle a{ text-decoration:none;margin-left:6px;color:#b4b9be; }
#fv-player-list-thumb-toggle a.active{ color:#0073aa; }
#fv-player-list-thumb-toggle a.disabled{ cursor:default; }
.fv-player-playlist-item-title, .fv-player-playlist-item-title:hover{ margin:0;border:0;background:transparent; }

/*Playlist view*/
.is-playlist .fv-player-playlist-item-title{ display:block;padding:0 10px 12px; }
.is-playlist .fv_player_field_insert-button{ display:none; }
.is-playlist-active .playlist_edit{ display:none; }

.is-playlist .hide-if-playlist{display:none;}
.is-singular .hide-if-singular{display:none;}
.is-playlist-active .hide-if-playlist-active{display:none;}

.playlist_edit{ display:block; }
.fv-player-tab-playlist tr:not(:hover) .fvp_item_remove{visibility: hidden;}
.fv-player-tab-playlist tr:hover .fvp_item_remove{visibility: visible;color: #a00;}
.fv-player-tab-playlist a{cursor:pointer;}

.fv-player-tab-playlist .fv-player-playlist-item{ border-spacing: 0 2px; }
.fv-player-tab-playlist tbody td{ padding:3px 5px;height:50px;cursor:pointer; }
.fv-player-tab-playlist .fv-player-playlist-item tbody td:first-child{cursor:n-resize;}

.fvp_item_video-side-by-side{display:inline-block;vertical-align:top;float: left;margin-right: 1%;}
.fvp_item_video-filename {word-wrap: break-word;display: inline-block; max-width: 180px;}
.hide-thumbnails .fvp_item_video-filename {max-width: 100%;}
.fv-player-tab-playlist > table > thead > tr > th:nth-child(1),.fv-player-tab-playlist > table > tbody > tr > td:nth-child(1),
.fv-player-tab-playlist > table > thead > tr > th:nth-child(2),.fv-player-tab-playlist > table > tbody > tr > td:nth-child(2){ width:300px; }
.fv-player-tab-playlist > table > thead{ display:block; }
.fv-player-tab-playlist.hide-thumbnails .fvp_item_video-thumbnail{ display:none; }
.fv-player-tab-playlist > table > tbody{ display:block;overflow:auto;max-height:calc(100vh - 270px); }
#fv-player-list-thumb-toggle > .active{ font-weight:bold; }
#fv-player-list-thumb-toggle > a{ box-shadow:none; }
#fv-player-shortcode-editor td > input[type="checkbox"]{margin-top:-4px}

/*Preview iframe*/
#fv-player-shortcode-editor-preview{ width: 460px;position:relative; }
#fv-player-shortcode-editor-preview div.fv-player-shortcode-editor-helper {display:none;}
#fv-player-shortcode-editor-preview.preview-loading #fv-player-shortcode-editor-preview-spinner,
#fv-player-shortcode-editor-preview.preview-no #fv-player-shortcode-editor-preview-no,
#fv-player-shortcode-editor-preview.preview-new-tab #fv-player-shortcode-editor-preview-new-tab{display:block;}
#fv-player-shortcode-editor-preview.preview-no #fv-player-shortcode-editor-preview-target,
#fv-player-shortcode-editor-preview.preview-new-tab #fv-player-shortcode-editor-preview-target{display:none}
#fv-player-shortcode-editor-preview.preview-new-tab #fv-player-shortcode-editor-preview-iframe-refresh{display:none!important}
#fv-player-shortcode-editor-preview-spinner{background-image: url(../../../../wp-includes/images/wpspin-2x.gif); background-color: white;   background-repeat: no-repeat;   background-position: center; position:absolute; z-index: 2; height: 200px; width: 100%;}
.fvp_item_video-thumbnail img{max-width: 95px;max-height: 95px;}
#fv-player-shortcode-editor-preview-new-tab, #fv-player-shortcode-editor-preview-no{background-image: url(../images/icon-256x256.png);width: 256px;height: 290px;background-repeat: no-repeat;line-height:512px;overflow:hidden;margin:0 auto;text-align: center;}
#fv-player-shortcode-editor-preview-new-tab a {margin-top:256px;}

#fv-player-shortcode-editor-preview div.notice { display: block }

.first-item-only {
  display: none;
}
.fv-player-playlist-item[data-index="0"] .first-item-only {
  display: table-row;
}
.fv-player-playlist-item[data-index="0"] .first-item-only.fv_player_interface_hide {
  display: none;
}

.fv-player-tabs th { width: 21%; text-align: right; }
.fv-player-tabs .fv-player-tab-playlist th { text-align: left; }



/*  moved in from main plugin css */
.add_media span.wp-media-buttons-icon {
	background: url("img/media-button.png") no-repeat scroll left top;
    display: inline-block;
    height: 16px;
    margin: 0 2px;
    vertical-align: text-top;
    width: 16px;
}
#cboxWrapper a {
	text-decoration: none;	
}
a #add-format, a #add-rtmp {
    background: #333;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    height: 18px;
    line-height: 1rem;
    margin: 0 5px 0 0;
    text-align: center;
    width: 18px;
	padding: 0;
	text-decoration: none;
}
#fv-wordpress-flowplayer-popup table {
	width: 100%;	
}
#fv-wordpress-flowplayer-popup table th {
	text-align: right;	
	width: 18%;
	padding: 4px 2px;
}
#fv-wordpress-flowplayer-popup table td {
	padding: 4px 2px;
}

/* Amazon S3 Browser */
@charset "utf-8";


.files-div .search {

    margin-top: 45px;


}

.files-div {
    font-size: 14px;
    z-index: -4;
    border-radius:20px;
    min-height:440px;
    padding: 10px 10px 10px 10px;
}


/*-------------------------
	File manager
-------------------------*/


.filemanager {
    width: 95%;
    max-width:1340px;
    position: relative;

}

.filemanager input[type='search'] {

    width:200px!important;

}

@media all and (max-width: 965px) {
    .filemanager {
        margin: 30px auto 0;
        padding: 1px;
    }
}


/*-------------------------
	Breadcrumps
-------------------------*/


.filemanager .breadcrumbs {
    color: #000;
    margin-left:20px;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}

.filemanager .breadcrumbs a:link, .breadcrumbs a:visited {
    color: #000;
    text-decoration: none;
}

.filemanager .breadcrumbs a:hover {
    text-decoration: underline;
}

.filemanager .breadcrumbs .arrow {
    color:  #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
}


/*-------------------------
	Search box
-------------------------*/


.filemanager .search {
    margin-top: 0 !important;
    background-color: #000;
    position: absolute;
    cursor: pointer;
    right: 0 !important;
    font-size: 17px;
    color: #ffffff !important;
    display: block !important;
    width: 40px !important;
    height: 40px !important;
}

.filemanager .search:before {
    content: '';
    position: absolute;
    margin-top:11px;
    width: 10px;
    height: 11px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    right: 8px;
}

.filemanager .search:after {
    content: '';
    width: 3px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 2px;
    position: absolute;
    top: 25px;
    right: 6px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.filemanager .search input[type=search] {
    color: #4D535E;
    background-color: #FFF;
    width: 250px;
    height: 44px;
    margin-left: -215px;
    padding-left: 20px;
    text-decoration-color: #4d535e;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    display: none;
    outline: none;
    border: none;
    padding-right: 10px;
    -webkit-appearance: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #4d535e;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #4d535e;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #4d535e;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #4d535e;
}


/*-------------------------
	Content area
-------------------------*/

.filemanager .data {
    margin-top: 60px;
    z-index: -3;
}

.filemanager .data.animated {
    -webkit-animation: showSlowlyElement 700ms; /* Chrome, Safari, Opera */
    animation: showSlowlyElement 700ms; /* Standard syntax */
}

.filemanager .data li {
    border-radius: 3px;
    background-color: #373743;
    width: 307px;
    height: 118px;
    list-style-type: none;
    margin: 10px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding: 0.3em;
    z-index: 1;
    cursor: pointer;
    box-sizing: border-box;
    transition: 0.3s background-color;
}

.filemanager .data li:hover {
    background-color: #42424E;

}

.filemanager .data li a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.filemanager .data li .name {
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    width: 190px;
    white-space: nowrap;
    display: inline-block;
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    top: 40px;
}

.filemanager .data li .details {
    color: #b6c1c9;
    font-size: 13px;
    font-weight: 400;
    width: 55px;
    height: 10px;
    top: 64px;
    white-space: nowrap;
    position: absolute;
    display: inline-block;
}

.filemanager .nothingfound {
    background-color: #373743;
    width: 23em;
    height: 21em;
    margin: 0 auto;
    display: none;
    font-family: Arial;
    -webkit-animation: showSlowlyElement 700ms; /* Chrome, Safari, Opera */
    animation: showSlowlyElement 700ms; /* Standard syntax */
}

.filemanager .nothingfound .nofiles {
    margin: 30px auto;
    top: 3em;
    border-radius: 50%;
    position:relative;
    background-color: #d72f6e;
    width: 11em;
    height: 11em;
    line-height: 11.4em;
}
.filemanager .nothingfound .nofiles:after {
    content: '×';
    position: absolute;
    color: #ffffff;
    font-size: 14em;
    margin-right: 0.092em;
    right: 0;
}

.filemanager .nothingfound span {
    margin: 0 auto auto 6.8em;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    height: 13px;
    position: relative;
    top: 2em;
}

@media all and (max-width:965px) {

    .filemanager .data li {
        width: 100%;
        margin: 5px 0;
    }

}

/* Chrome, Safari, Opera */
@-webkit-keyframes showSlowlyElement {
    100%   	{ transform: scale(1); opacity: 1; }
    0% 		{ transform: scale(1.2); opacity: 0; }
}

/* Standard syntax */
@keyframes showSlowlyElement {
    100%   	{ transform: scale(1); opacity: 1; }
    0% 		{ transform: scale(1.2); opacity: 0; }
}


/*-------------------------
		Icons
-------------------------*/

.files-div .icon {
    font-size: 23px;
}
.files-div .icon.folder {
    display: inline-block;
    margin: 1em;
    background-color: transparent;
    overflow: hidden;
}
.files-div .icon.folder:before {
    content: '';
    float: left;
    background-color: #7ba1ad;

    width: 1.5em;
    height: 0.45em;

    margin-left: 0.07em;
    margin-bottom: -0.07em;

    border-top-left-radius: 0.1em;
    border-top-right-radius: 0.1em;

    box-shadow: 1.25em 0.25em 0 0em #7ba1ad;
}
.files-div .icon.folder:after {
    content: '';
    float: left;
    clear: left;

    background-color: #a0d4e4;
    width: 3em;
    height: 2.25em;

    border-radius: 0.1em;
}
.files-div .icon.folder.full:before {
    height: 0.55em;
}
.files-div .icon.folder.full:after {
    height: 2.15em;
    box-shadow: 0 -0.12em 0 0 #ffffff;
}

.files-div .icon.file {
    width: 2.5em;
    height: 3em;
    line-height: 3em;
    text-align: center;
    border-radius: 0.25em;
    color: #FFF;
    display: inline-block;
    margin: 0.9em 1.2em 0.8em 1.3em;
    position: relative;
    overflow: hidden;
    box-shadow: 1.74em -2.1em 0 0 #A4A7AC inset;
}
.files-div .icon.file:first-line {
    font-size: 13px;
    font-weight: 700;
}
.files-div .icon.file:after {
    content: '';
    position: absolute;
    z-index: -1;
    border-width: 0;
    border-bottom: 2.6em solid #DADDE1;
    border-right: 2.22em solid rgba(0, 0, 0, 0);
    top: -34.5px;
    right: -4px;
}

.files-div .icon.file.f-avi,
.files-div .icon.file.f-flv,
.files-div .icon.file.f-mkv,
.files-div .icon.file.f-mov,
.files-div .icon.file.f-mpeg,
.files-div .icon.file.f-mpg,
.files-div .icon.file.f-mp4,
.files-div .icon.file.f-m4v,
.files-div .icon.file.f-wmv {
    box-shadow: 1.74em -2.1em 0 0 #7e70ee inset;
}
.files-div .icon.file.f-avi:after,
.files-div .icon.file.f-flv:after,
.files-div .icon.file.f-mkv:after,
.files-div .icon.file.f-mov:after,
.files-div .icon.file.f-mpeg:after,
.files-div .icon.file.f-mpg:after,
.files-div .icon.file.f-mp4:after,
.files-div .icon.file.f-m4v:after,
.files-div .icon.file.f-wmv:after {
    border-bottom-color: #5649c1;
}

.files-div .icon.file.f-mp2,
.files-div .icon.file.f-mp3,
.files-div .icon.file.f-m3u,
.files-div .icon.file.f-wma,
.files-div .icon.file.f-xls,
.files-div .icon.file.f-xlsx {
    box-shadow: 1.74em -2.1em 0 0 #5bab6e inset;
}
.files-div .icon.file.f-mp2:after,
.files-div .icon.file.f-mp3:after,
.files-div .icon.file.f-m3u:after,
.files-div .icon.file.f-wma:after,
.files-div .icon.file.f-xls:after,
.files-div .icon.file.f-xlsx:after {
    border-bottom-color: #448353;
}

.files-div .icon.file.f-doc,
.files-div .icon.file.f-docx,
.files-div .icon.file.f-psd{
    box-shadow: 1.74em -2.1em 0 0 #03689b inset;
}

.files-div .icon.file.f-doc:after,
.files-div .icon.file.f-docx:after,
.files-div .icon.file.f-psd:after {
    border-bottom-color: #2980b9;
}

.files-div .icon.file.f-gif,
.files-div .icon.file.f-jpg,
.files-div .icon.file.f-jpeg,
.files-div .icon.file.f-pdf,
.files-div .icon.file.f-png {
    box-shadow: 1.74em -2.1em 0 0 #e15955 inset;
}
.files-div .icon.file.f-gif:after,
.files-div .icon.file.f-jpg:after,
.files-div .icon.file.f-jpeg:after,
.files-div .icon.file.f-pdf:after,
.files-div .icon.file.f-png:after {
    border-bottom-color: #c6393f;
}

.files-div .icon.file.f-deb,
.files-div .icon.file.f-dmg,
.files-div .icon.file.f-gz,
.files-div .icon.file.f-rar,
.files-div .icon.file.f-zip,
.files-div .icon.file.f-7z {
    box-shadow: 1.74em -2.1em 0 0 #867c75 inset;
}
.files-div .icon.file.f-deb:after,
.files-div .icon.file.f-dmg:after,
.files-div .icon.file.f-gz:after,
.files-div .icon.file.f-rar:after,
.files-div .icon.file.f-zip:after,
.files-div .icon.file.f-7z:after {
    border-bottom-color: #685f58;
}

.files-div .icon.file.f-html,
.files-div .icon.file.f-rtf,
.files-div .icon.file.f-xml,
.files-div .icon.file.f-xhtml {
    box-shadow: 1.74em -2.1em 0 0 #a94bb7 inset;
}
.files-div .icon.file.f-html:after,
.files-div .icon.file.f-rtf:after,
.files-div .icon.file.f-xml:after,
.files-div .icon.file.f-xhtml:after {
    border-bottom-color: #d65de8;
}

.files-div .icon.file.f-js {
    box-shadow: 1.74em -2.1em 0 0 #d0c54d inset;
}
.files-div .icon.file.f-js:after {
    border-bottom-color: #a69f4e;
}

.files-div .icon.file.f-css,
.files-div .icon.file.f-saas,
.files-div .icon.file.f-scss {
    box-shadow: 1.74em -2.1em 0 0 #44afa6 inset;
}
.files-div .icon.file.f-css:after,
.files-div .icon.file.f-saas:after,
.files-div .icon.file.f-scss:after {
    border-bottom-color: #30837c;
}

@media screen and (max-width: 600px) {

    .files-div .icon {
        font-size:1em!important;
        margin-top:2em!important;
    }
    .files-div .icon.file:after {
        top: -27.5px!important;
    }
    .filemanager .data li {

        width:100%!important;
    }
    .files-div ul.data {

        margin-left:0px!important;
        margin-right:0px!important;

    }
}