{
  "rules": {
    "indent": "off",
    "no-empty": ["error", { "allowEmptyCatch": true }],
    "no-console": "off",
    "no-redeclare": "warn",
    "no-unused-vars": "warn",
    "no-useless-escape": "warn",
    "no-inner-declarations": "warn",
    "no-cond-assign": "warn",
    "no-extra-boolean-cast": "warn",
    "no-prototype-builtins": "warn",
    "no-mixed-spaces-and-tabs": "warn"
  },
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jquery": true,
    "jsx": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "globals": {
    "wp": true,
    "ajaxurl": true,
    "tinyMCE": true,
    "flowplayer": true,
    "freedomplayer": true,
    "fv_player": true,
    "fv_player_pro": true,
    "fv_player_editor_pro": true,
    "FV_Flowplayer_Pro": true,
    "fv_flowplayer_conf": true,
    "fv_player_editor": true,
    "fv_player_editor_conf": true,
    "fv_player_editor_conf_screenshots": true,
    "fv_player_editor_translations": true,
    "fv_flowplayer_translations": true,
    "fv_flowplayer_playlists": true,
    "fv_player_wizard_base": true,
    "fv_player_bunny_stream_upload_settings": true,
    "fv_flowplayer_insertUpdateOrDeleteVideoMeta": true,
    "fv_flowplayer_media_browser_add_tab": true,
    "fv_flowplayer_browser_add_load_more_button": true,
    "fv_flowplayer_browser_browse": true,
    "fv_player_media_browser": true,
    "fv_wp_flowplayer_submit": true,
    "fv_wp_flowplayer_dialog_resize": true,
    "fv_player_lightbox": true,
    "fv_player_clipboard": true,
    "fv_player_get_video_link_hash": true,
    "fv_player_time_hms_ms": true,
    "fv_player_time_hms": true,
    "fv_player_notice": true,
    "fv_video_link_autoplay": true,
    "fv_player_load": true,
    "renderBrowserPlaceholderHTML" : true
  }
}
