<phpunit bootstrap="bootstrap.php">
    <testsuites>
        <testsuite name="Shortcode">
            <directory suffix="Test.php">shortcode</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix="Test.php">shortcode</directory>
        </whitelist>
    </filter>
</phpunit>
